@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Song Library!</h1>
    <br>    
    <p>
        We are delighted to welcome you to our extensive song library, where you can explore the world of music in all its diversity. Our goal is to provide you with an inviting and user-friendly music portal that gives you access to a rich collection of artists, songs, and albums
    </p>
    <br><br>
    <p>
        <h3>Discover, Edit, Share - Your Music</h3>
        <br>
        Under the navigation bar at the top of every page of our song library - "Artists," "Albums," "Songs" - you have the freedom to explore and shape the world of music according to your desires. Here's what you can do:
        <br>
        <strong>Artists:</strong> Dive into the profiles of your favorite artists. You can learn about their origins and genres. And if you want to discover new artists, we have many talented musicians in our collection.
        <br>
        <strong>Albums:</strong> Browse through a variety of albums, from classics to the latest releases. Find albums by your favorite artists and be surprised by new discoveries.
        <br>
        <strong>Songs:</strong> Discover songs from various artists and years. Easily add songs and be inspired.
    </p>
    <br><br>
    <p>
        Explore the world of music, add new music, or remove/edit what doesn't suit your taste!
    </p>
</div>
